.row-fluid
  #user-navigation.span12
    = link_to 'Your Posts', users_path, :class => 'btn'
    = link_to 'Your Offers', users_path(:type => 'Offer'), :class => 'btn'
    = link_to 'Your Demands', users_path(:type => 'Demand'),:class => 'btn'
