#user-nav.navbar
  .navbar-inner
    .container
      %ul.nav
        %li
          = link_to 'Your Messages', user_posts_path(@user)
        %li
          = link_to 'Your Posts', users_path
        %li
          = link_to 'Your Offers', users_path(:kind => 'Offer')
        %li
          = link_to 'Your Demands', users_path(:kind => 'Demand')
