.offer[offer]
  %p= offer.body
  - if user_signed_in? && offer.user_id == current_user.id
    = link_to 'New Message', new_message_path(:post_id => offer.id)
    = link_to 'Destroy', offer, :method => :delete, :data => { :confirm => 'Are you sure?' }
