.post{ :class => "#{post.type.downcase}" }[post]
  %p= post.body
  - if user_signed_in? && post.user_id == current_user.id
    = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
