.post{ :class => "#{post.kind.downcase}" }[post]
  %p= post.body
  = link_to 'Message', post_messages_path(post)
  - if user_signed_in? && post.user_id == current_user.id
    = link_to 'Destroy', post, :method => :delete, :data => { :confirm => 'Are you sure?' }
